{% extends 'base.html' %} {% load static %} {% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <article class="row mb-5">
          <div class="col-12">
            <div class="post-slider">
              <img
                loading="lazy"
                src="{{book.image.url}}"
                class="img-fluid"
                alt="post-thumb"
              />
            </div>
          </div>
          <div class="col-12 mx-auto">
            <h3>
              <a class="post-title" href="post-elements.html"
                >{{ book.title }}</a
              >
            </h3>
            <ul class="list-inline post-meta mb-4">
              <li class="list-inline-item">Date : {{book.created_at}}</li>
            </ul>
            <p>{{ book.description | safe }}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
