{% extends 'base.html' %} {% load static %} {% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <article class="row mb-5">
          <div class="col-12">
            <div class="post-slider">
              <img
                loading="lazy"
                src="{{post.image.url}}"
                class="img-fluid"
                alt="post-thumb"
              />
            </div>
          </div>
          <div class="col-12 mx-auto">
            <h3>
              <a class="post-title" href="post-elements.html"
                >{{ post.title }}</a
              >
            </h3>
            <ul class="list-inline post-meta mb-4">
              <li class="list-inline-item">Date : {{post.created_at}}</li>
            </ul>
            <p>{{ post.description | safe }}</p>
          </div>
        </article>
        {% if previous_post %}
        <a
          href="{% url 'details' post_id=previous_post.id slug=previous_post.slug %}"
          >Previous Post</a
        >
        {% endif %} {% if next_post %}
        <a
          href="{% url 'details' post_id=next_post.id slug=next_post.slug %}"
          style="float: right"
          >Next Post</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
