{% extends 'base.html' %}{% block content %}
<section class="section">
  <div class="container">
    <div class="row mb-4">
      {% for quote in quotes %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="{{ quote.image.url }}"
            class="card-img-top img-fluid"
            alt="Card Image"
          />
        </div>
        <!--card ending tag-->
      </div>
      {% endfor %}
      <!--column ending tag-->
    </div>
    <!--row ending tag-->
  </div>
  <!--container ending tag -->
</section>
{% endblock %}
