{% extends 'base.html' %} {% load static %} {% block content %}
<section class="about my-5">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-8 mx-auto">
          <div class="title-bordered d-flex align-items-center">
            <h1 class="fw-bold">Support Inspiric Quotes :)</h1>
  
          </div>
          <br />
          <div class="content">
            <p>
                At Inspiric Quotes, we are committed to providing you with a platform that inspires, motivates, and uplifts. To continue delivering quality content and maintaining our services, we rely on the generous support of our visitors.
            </p>
            <br />
            <h2 class="fw-bold">Ways You Can Support Us:</h2>
            <br />
            <p>
                Your contributions directly impact our ability to create and curate inspiring content. Every donation, no matter the size, helps us sustain and grow Inspiric Quotes.
            </p>
            <br />
            <h2 class="fw-bold">How Your Support Helps:</h2>
            <br />
            <p>
                <b>Content Creation:</b> Your support enables us to create high-quality, inspiring content that resonates with our audience.
            </p>
            <br />
            <p>
                <b>Platform Maintenance:</b> It helps in maintaining the website, server costs, and technical upkeep for a seamless user experience.
            </p>
            <br />
            <p>
                <b>Future Development:</b> Contributions aid in developing new features and expanding our offerings to better serve you.
            </p>
            <br />
            <h2 class="fw-bold">Making a Contribution</h2>
            <br />
            <p>
                <a href="https://www.buymeacoffee.com/prudhvi" target="_blank">Click here</a> to make a one-time donation and contribute to the sustainability of Inspiric Quotes.
            </p>
            <br />
            
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}